@charset "UTF-8";

.box {
  padding: 20px;
  width: 500px;
  font-size: 16px;
  line-height: 16px;
  background: #fad296;
  border: solid 5px #8f5a0a;
  border-radius: 30px;
  margin: auto;
  position: relative;
}

.box:before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: 30px;
  border-top: 20px solid #8f5a0a;
  bottom: -45px;
}

.box:after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: 30px;
  border-top: 20px solid #fad296;
  bottom: -38px;
}